.App {
  text-align: center;
  margin-top: 50px;
}

.text-viewer textarea {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  resize: none;
  font-size: 16px;
}
.Typewriter__wrapper{
  float: left !important;
}
.Typewriter__cursor{
  display: none;
}